.root {
  display: flex;
  margin: 1em;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  margin-right: 1em;
}

.greeting {
  font-weight: bold;
  margin-right: 0.2em;
}

.username {
  color: #666;
  font-weight: bold;
}

.button {
  background-color: #4cae4c;
  border: 1px solid #5cb85c;
  color: #fff;
  border-radius: 5px;
  margin: 0 1em;
  padding: 0.5em 0.75em;
}
